html,
body {
    width: 100%;
    height: 100%;
}

* {
    font-family: sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    background-color: #6DECE0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.main-budget-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sub-budget-wrapper {
    display: grid;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    height: 90%;
    padding: 30px;
    border-radius: 10px;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 1.5em;
    transition: .3s;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
}

.add-income {
    background-color: #FBE698;
    width: 49%;
}

.add-income:hover {
    background-color: #ffd84d;
}

.add-expense {
    background-color: #F9BDC0;
    width: 49%;
}

.add-expense:hover {
    background-color: #ff8a90;
}

input {
    padding: 1.5em;
    border-radius: 3px;
    border: 2px solid #6DECE0;
}

.input-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.input-desc {
    width: 70%;
}

.input-value {
    width: 30%;
}

.submit {
    width: 100%;
    height: 80%;
    background-color: #15B5B0;
    color: white;
    font-size: 1.3rem;
    padding: 20px;
}

.submit:hover {
    background-color: #18e9e2;
    color: #292929;
}

.item-head {
    display: flex;
    justify-content: space-around;
}

.main-details {
    padding: 10px;
}

.main-summery-wrapper {
    background-color: #fad0c4;
    background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
    height: 90%;
    padding: 30px;
    border-radius: 10px;
    display: grid;
}

.month {
    font-size: 2rem;
}

.available-cash {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #00992e;
}

.summery-wrapper {
    background-color: #FBE698;
    display: grid;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
}

.summery-wrapper div {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #15B5B0;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    padding: 10px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.item {
    display: flex;
    justify-content: space-around;
    background-color: pink;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

.item-wrapper {
    display: block;
    align-items: flex-start;
    height: 100%;
    grid-template-columns: 1fr;
}